.footer{
    width: 100%;
    position: relative;
    margin-bottom: 0px;
  margin-top: 100px;
}

.footer-back{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    background-image: linear-gradient(var(--verde-escuro), #14471c);
}
.icones{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 20px;
}
.icones a{
    margin-top: 25px;
    font-size: 15px;
   
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram img{
    height: 30px;
    margin-right: 10px;
}
.facebook img{
    height: 30px;
    margin-right: 10px;
    border-radius: 20%;
}
.email img{
    height: 23px;
    margin-right: 10px;
}
.endereço p{
    font-size: 15px;
    color: white;
    margin-top: 15px;
}
.endereço{
    margin-left: 45px;
    border-left: 3px solid white ;
    border-right: 3px solid white ;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}
.forte{
    font-size: 17px;
    font-weight: 500;
}
iframe{
width: 300px;
height: 250px;
}

@media(max-width: 992px){
    iframe{
        width: 90%;
        height: 200px;
    }
    .footer-back{
        flex-direction: column;
    }
    .endereço{
        border-left: none;
        border-right: none;
        border-top: 3px solid white ;
        border-bottom: 3px solid white ;
        margin: 0%;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
        padding: 30px 20px;
    }
    .endereço p{
        width: 100%;
        
    }
    .icones{
        margin-left: 0;
        width: 100%;
        padding-left: 20px;
    }
    .forte{
        font-size: 18px;
    }
}
