/*---------------------RESET----------------------*/
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
     background-size: cover;
     
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}
:root {
    --verde-escuro: #20702C;
    --verde-claro: rgb(37, 182, 37);
    --branco-fundo: #F7F7F7;
}

::selection {
    color: white;
    background-color: var(--verde-claro);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--verde-escuro);
    border-radius: 6px;
  }